<!-- This is the header retreaved from the partials file.-->
<%- include partials/header.ejs %>


      <!--This class is the heading class from the bootstarp-->
<div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px">
  <div class="container">
    <p>Welcome to Gurpanth's Portfolio</p>
  </div>
</div>
    <div class="container" style="height:405px;">
      <p>My objective is to utilize my software and web development skills for achieving the target and delevering the best performance. By implement my ideas and creativity for accomplishing the projects.

This is a sample of one of my front end design</p>
        <center><h2>Connect Socially Through</h2></center>
        <div class="container" style="padding-top:30px; text-align:center;">
             <div class="col-sm-4"><a href="#" style="font-size:35px; color:#3b5998;">Facebook</a></div>
            <div class="col-sm-4"><a href="#" style="font-size:35px; color:#00aced;">Twitter</a></div>
        <div class="col-sm-4"><a href="#" style="font-size:35px; color:#DD1812;">Google+</a></div>
        </div>
</div>

<!--Including the footer-->
<%- include partials/footer.ejs %>
</html>
